@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 20 15% 25%;
    --card: 60 40% 96%;
    --card-foreground: 20 15% 25%;
    --popover: 60 40% 96%;
    --popover-foreground: 20 15% 25%;
    --primary: 36 100% 60%;
    --primary-foreground: 20 15% 15%;
    --secondary: 36 90% 70%;
    --secondary-foreground: 20 15% 15%;
    --muted: 60 25% 88%;
    --muted-foreground: 240 5% 45%;
    --accent: 45 65% 52%;
    --accent-foreground: 20 15% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 36 20% 80%;
    --input: 36 20% 85%;
    --ring: 36 100% 60%;
    --chart-1: 36 100% 60%;
    --chart-2: 45 65% 52%;
    --chart-3: 36 90% 70%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 60 56% 91%;
    --sidebar-foreground: 20 15% 25%;
    --sidebar-primary: 36 100% 60%;
    --sidebar-primary-foreground: 20 15% 15%;
    --sidebar-accent: 60 25% 88%;
    --sidebar-accent-foreground: 20 15% 15%;
    --sidebar-border: 36 20% 80%;
    --sidebar-ring: 36 100% 60%;
  }
  .dark {
    --background: 220 15% 10%;
    --foreground: 60 90% 95%;
    --card: 220 15% 12%;
    --card-foreground: 60 90% 95%;
    --popover: 220 15% 10%;
    --popover-foreground: 60 90% 95%;
    --primary: 36 100% 60%;
    --primary-foreground: 20 15% 15%;
    --secondary: 45 65% 52%;
    --secondary-foreground: 20 15% 15%;
    --muted: 220 15% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 45 65% 60%;
    --accent-foreground: 20 15% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 15% 20%;
    --input: 220 15% 20%;
    --ring: 36 100% 60%;
    --chart-1: 36 100% 60%;
    --chart-2: 45 65% 52%;
    --chart-3: 36 90% 70%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 220 15% 10%;
    --sidebar-foreground: 60 90% 95%;
    --sidebar-primary: 36 100% 60%;
    --sidebar-primary-foreground: 20 15% 15%;
    --sidebar-accent: 220 15% 15%;
    --sidebar-accent-foreground: 60 90% 95%;
    --sidebar-border: 220 15% 20%;
    --sidebar-ring: 36 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
